[Unit]
Description=Check Threema bridge health every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=5s
Unit=threema-heartbeat.service

[Install]
WantedBy=timers.target
